<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    
    <!-- Website Title -->
    <title>Products</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    
<div class="container">
  <div class="row">
<!--       One of three columns -->
    <div class="col-sm-4">
        <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5465/5465800_sd.jpg;maxHeight=640;maxWidth=550" alt="MacbookAir">
        <h3 class="product-title">Macbook 12"</h3>
        <h4 class="product-price">$1,299.99</h4>
    </div>
<!--       One of three columns -->
    <div class="col-sm-4">
        <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5721/5721723_sd.jpg;maxHeight=640;maxWidth=550" alt="MacbookPro">
        <h3 class="product-title">Macbook Pro 13"</h3>
        <h4 class="product-price">$1,299.99</h4>
    </div>
<!--       One of three columns -->
    <div class="col-sm-4">
        <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/8532/8532502_sd.jpg;maxHeight=640;maxWidth=550" alt="MacbookPro">
        <h3 class="product-title">Macbook Pro 15.4"</h3>
        <h4 class="product-price sale-price">$1,899.99</h4>
        <h6 class="product-price sale-price">Save $100</h6>
    </div>
  </div>
</div>
 
    
   <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>